body {
  background-color: #F4C2C2;
  font-family: 'Comic Sans MS',sans-serif;
}
h1{
color: darkred;
}
p, ul, ol{
color: darkred;
}
h3{
color: darkred;
}
a{
  border: solid;
  border-color: darkred;
  border-radius: 50px;
  border-width: 10px;
}